<section class="container">
    <h4 class="border-bottom py-3 mb-4 mt-5">Delete User</h4>
    <div class="row">
        <div class="col-md-6 user-container">
            <form>
              <div class="form-group">
                <label for="name">Enter user name to be deleted:</label>
                <input type="text" formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
              </div>
          
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
    </div>
</section>
