<section class="container">
    <h4 class="border-bottom py-3 mb-4 mt-5">User list</h4>
    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Adress</th>
                <th>Phone number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.address}}</td>
                <td>{{user.phoneNumber}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</section>
