/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.red {
    background: #ffcccc;
}
.green {
    background: #adebad;
}
.blue {
    background: #ccd9ff;
}